##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################
                                                                                       
# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ install_mongodb__db_path }}
#  engine:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ install_mongodb__log_file }}

# network interfaces
net:
  port: {{ install_mongodb__port }}
  bindIp: {{ install_mongodb__bind }}


# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

#operationProfiling:

#sharding:dsd

## Enterprise-Only Options:

#auditLog:

{% if install_mongodb__ssl | default(false) %}
net:
   tls:
      mode: requireTLS
      disabledProtocols: TLS1_0,TLS1_1
      certificateKeyFile: {{ install_mongodb__ssl_pem_key_file }}
{% if install_mongodb__ssl_client_auth | default(false) %}
      CAFile: {{ install_mongodb__ssl_ca_file }}
{% endif %}
{% endif %}
