##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################
                                                                                       
# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ install_mongodb_db_path }}
#  engine:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ install_mongodb_log_file }}

# network interfaces
net:
  port: {{ install_mongodb_port }}
  bindIp: {{ install_mongodb_bind }}


# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

#operationProfiling:

#sharding:dsd

## Enterprise-Only Options:

#auditLog:

{% if install_mongodb_ssl | default(false) %}
net:
   tls:
      mode: requireTLS
      disabledProtocols: TLS1_0,TLS1_1
      certificateKeyFile: {{ install_mongodb_ssl_pem_key_file }}
{% if install_mongodb_ssl_client_auth | default(false) %}
      CAFile: {{ install_mongodb_ssl_ca }}
{% endif %}
{% endif %}

security:
  authorization: enabled
